body{
    overflow-x: hidden;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 8%;

    display: grid; 
    grid-template-columns: 20% 65% 15%; 
    grid-template-rows: 100% 100%; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo recherche connexion"
      ". . liste_menu";

}


header {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 27px -5px, rgba(0, 0, 0, 0.3) 0px 2px 16px -8px;
}


.border-button {
    border-bottom: 0.5px solid rgba(137, 135, 135, 0.50);
}

.logo {
    display: grid; 
    grid-template-columns: 45% 45%;
    gap: 0px 0px; 
    grid-template-areas: 
      "logo logo_name"; 
    justify-content: center; 
    justify-items: stretch; 
    align-items: center; 
  }

.logo_img {
    padding-right: 10%;
    border-right: 1px dashed #62003D;
}

.logo_name  {
    user-select: none;
    font-family: Inter;
    font-weight: bold;
    font-size: large;
    padding-left: 10%;
}



.recherche {
    border-left: 0.5px solid rgba(137, 135, 135, 0.50);
    grid-area: recherche; 

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.back_recherche {
    position: relative;
    width: 90%;
    height: 50%;
    background: #EBEBEB;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    display: grid; 
    grid-template-columns: 89% 5% 5%;
    grid-template-rows: 100%; 
    gap: 0px 0px; 
    grid-template-areas: 
    "area_input recherche_svg param"; 
    justify-content: space-evenly; 
    align-items: center;
}


.back_recherche > :last-child {
    opacity: 45%;
}

.area_input {
    border: none;
    background-color: transparent;    
    margin-left: 1%;
    font-size: large;
    font-family: Inter;
}
.area_input:focus {
    outline: none;
}

.recherche_svg {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    padding-right: 20%;
    padding-left: 20%;
    height: 70%;
}



.recherche_svg img {
    cursor: pointer;
    position: relative;
    justify-self: flex-end;
    height: 100%;
    opacity: 0.5;
}

.recherche_svg:hover img {
    opacity: 1;
}


.param {
    cursor: pointer;
    height: 70%;
    padding-left: 20%;
}


.param:hover {
    opacity: 1;
}

.connexion {
    position: relative;
    grid-area: connexion;
    border-left: 0.5px solid rgba(137, 135, 135, 0.50);

    display: grid; 
    grid-template-columns: 30% 40% 30%; 
    grid-template-rows: 100%; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."; 
    justify-content: center; 
    align-content: start; 
    justify-items: center; 
    align-items: center;
}

.connexion > img {
    width: 85%;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    
}


.connexion h1 {
    font-family: Inter;
    font-size: larger;
}

.connexion h1::first-line {
    font-weight: bolder;
}

.menu {
    user-select: none;
    cursor: pointer;
}

.menu.close :last-child {    
    animation: grower .5s ease-out;
}

.menu.open :first-child {
    animation: grower .5s ease-out;
}

.menu.close :first-child {
    display: none;
}

.menu.open :last-child {
    display: none;
}


@keyframes grower {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}

.liste_menu {
    grid-area: liste_menu;
}

.liste_menu div {    
    background-color: white;
    height: 100%;
    cursor: pointer;
    width: 100%;
    transition: 1s;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.liste_menu div:first-child {
    opacity: 1;
}

.liste_menu div :nth-child(1) {
    flex: 0 0 27.5%;
    height: 60%;
    margin-right: 5%;
    opacity: 50%;
    border-right: 1px solid rgba(0, 0, 0);
}

.liste_menu div :nth-child(2) {
    flex: 0 0 72%;
}

.liste_menu div:nth-child(3) img {
    height: 50%;
}

.liste_menu div h1 {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
}

.liste_menu.close div:nth-child(1) {
    transform: translateX(100%);
}

.liste_menu.close div:nth-child(2) {
    transform: translateX(150%);
}

.liste_menu.close div:nth-child(3) {
    transform: translateX(200%);
}

.liste_menu div:not(:last-child):hover {
    background-color: rgb(220, 219, 219);
}

.liste_menu div:nth-child(3):hover h1 {
    color: rgb(255, 82, 82);
    font-weight: bolder;

}

.liste_menu div {
    border-bottom: 0.5px solid rgba(137, 135, 135,0.5);
    border-left: 0.5px solid rgba(137, 135, 135,0.5);
}



/*menu déroulan*/

.layer {
    z-index: -1;
    top: 8%;
    width: 100%;
    height: 30%;
    position: absolute;

    display: flex;
    flex-wrap: nowrap;
    transition: all 0.5s ease-out;
}

.layer .slide {
    width: 100%;
    height: 100%;
}

.layer :not(.slided) {
    animation: slid .5s ease-out forwards;   
}


.layer .slide {
    flex:  0 0 100%;
    display: flex;
}

.slided {
    display: flex;
    justify-content: center;
    align-items: center;
}





.img_livre {
    width: 200%;
    position: relative;
    grid-area: img_livre;
}


.slide_contnent .zone_info {
    grid-area: zone_info;
    height: 35%;
}


@keyframes slid {
    from {
        flex:  0 0 100%;  
    }
    to {
        flex: 0 0 0%;
    }
}

.layer .img_ {
    opacity: 50%;
    cursor: pointer;
    position: absolute;
    height: 20%;
}

.layer .img_:hover {
    opacity: 1;
}

.layer > :first-child {
    top: 50%;
    left: 0.5%;
    transform: translate(-0.5%,-50%);
}

.layer > :last-child {
    top: 50%;
    right: 0.5%;
    transform: translate(-0.5%,-50%);
}

.layer .one {
    background-color: #ff009d;
}

.layer .two {
    background-color: #ff0000;
}

.layer .three {
    background-color: #373273;
}
.layer .four {
    background-color: #458b45;
}
.layer .five {
    background-color: #620000;
}

.none {
   display: none;
}